@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
}

// nav

.parentNav{
    position: fixed;
    width: 100%;
    text-align: center;
    justify-content: center;
    display: flex;
    background-color: #14191e;
    height: 60px;
    font-family: 'Poppins', sans-serif;
    

    ul{
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    li{
        list-style: none;
    }
    
    a{
        color: rgba(8,117,72,1);
        text-decoration: none;
        padding-left: 50px;

    }

    .fa-moon{
        transition: 0.3s;
    }

    .fa-moon:hover{
        transform: rotate(-30deg);
    }
}


.aName{
    font-size: 30px;
    font-family: 'Parisienne', cursive;
}

.iconParent{

    padding-left: 70px;
    display: flex;
    justify-content: center;
    align-items: center;


    .ul2{
        color: rgba(8,117,72,1);
    }

    i{
        font-size: 25px;
        margin-left: -30px;
        cursor: pointer;
        color: rgba(8,117,72,1);
        transition: 0.3s;
    }
    .fa-bars{
        display: none;
    }
}

// mobile nav

.mobileParent{

    display: flex;
    justify-content: end;
    z-index: 999999;
    transition: 0.3s;
    
    li{
        list-style: none;
    }

    a{
        text-decoration: none;
        color: rgba(8,117,72,1);
        font-size: 20px;
    }

    .mobileParent2{
        position: fixed;
        margin-top: 60px;
        background-color: #14191e;
        height: 100%;
        padding-bottom: 20px;
        width: 400px;
    }
    .mobileParent4{
        font-family: 'Poppins', sans-serif;
        margin-left: 20px;
        margin-top: 20px;

        li{
            margin-top: 30px;
        }
    }

    .addressParent{
        color: rgba(8,117,72,1);
        margin-left: 20px;
        margin-top: 30px;
        font-size: 20px;
        font-family: 'Poppins', sans-serif;


        .add{
            font-size: 40px;
            font-family: 'Parisienne', cursive;

        }
    }

    .aNameMobile{
        font-size: 40px;
        display: flex;
        font-family: 'Parisienne', cursive;
    }
    
    .fa-xmark{
        color: rgba(8,117,72,1);
        font-size: 30px;
        margin-right: 20px;
        cursor: pointer;
    }

    .mobileParent3{
        text-align: end;
    }

    .mobileparentIcon{

        margin-top: 190px;

        ul{
            display: flex;
        }

        li{
            margin-left: 20px;
            padding-top: 20px;
        }

        h2{
            color: rgba(8,117,72,1);
            font-family: 'Parisienne', cursive;
            margin-left: 20px;
            
        }
    }

    .fa-moon{
        font-size: 30px;
        padding-top: 10px;
        padding-left: 40px;
        transition: 0.3s;
    }

    .fa-moon:hover{
        transform: rotate(-30deg);
    }
    
}



